.container#container
  .row
    .col-lg-6
      h1 Shoppinglist
      form(name="list", id="list")
        input(name="entry", type="text", class="entry", placeholder="Item", required)
        br
        button(id="enter") Enter
      ul.shopping-list
        li.item
          input(type="checkbox", id="chardonnay")
          label(for="chardonnay") Chardonnay
        li.item
          input(type="checkbox", id="merlot")
          label(for="merlot") Merlot
        li.item
          input(type="checkbox", id="malbec")
          label(for="malbec") Malbec
      hr
      h1#error